$def with (admin_email)
<html>
<head><title>Lead &raquo; REST API Reference</title></head>
<style>
body {
    font-family: Helvetica, Sans-serif;
}
code {
    font-family: monospace;
}
.page-title {
    background: url(http://i.imgur.com/xKu5vCx.png) no-repeat;
    height: 64px;
    padding-left: 64px;
    position: relative;
}
.page-title-content {
    position: absolute;
    bottom: 0;
    margin-left: 0.75em;
}
.footer {
    font-size: small;
}
.op-title, .typename, .query-ref {
    font-family: monospace;
}
.op-content {
    margin-left: 1em;
}
table.param-table {
    width: 90%;
    margin: 1em;
    font-family: monospace;
}
table.param-table th {
    text-align: left;
    background: linear-gradient(to bottom, #DDD, #BBB);
    border: 1px solid #CCC;
}
table.param-table td, table.param-table th {
    padding: 0.4em;
    vertical-align: top;
}
.param-name {
    font-weight: bold;
    color: #008;
}
.param-class {
    font-size: small;
}
.code-hint {
    font-family: sans-serif;
    font-style: italic;
    font-size: small;
    color: #080;
}
</style>
<body>

<h1 class="page-title"><div class="page-title-content">REST API Reference</div></h1>

<p>You use this REST API with 3 different keys. You should have an appid, a
write key and an admin key.</p>
<ul>
<li>Your <strong>appid</strong> need not be kept secret or obfuscated. You
can include this
in javascript on your website to display scores via AJAX. In fact, this key
is just the name of your game and a version number.</li>
<li>Your <strong>write key</strong> allows anyone with it to submit new scores.
It is
recommended that this key is compiled into your code and obfuscated if possible.
</li>
<li>Your <strong>admin key</strong> allows you to delete scores, configure fields
and dump backups. DO NOT INCLUDE THIS IN YOUR APPLICATION. Just copy it into a
text file so that you can refer to it to configure your leaderboards when you
need to.
</li>
</ul>

<p>Important notes:</p>
<ul>
<li>
This API does not perform cheat detection; you must do that yourself. One way
might be to set up a cronjob on a server you have access to to perform admin
operations on your leaderboard.
</li>
<li>
While I do my best to ensure the security and stability of this service, I
cannot provide any guarantees. I recommend you take regular backups through the
<a href="#dump" class="query-ref">dump</a> functionality the API provides.
</li>
<li>
This service isn't even alpha yet. Don't expect too much. I'm not even sure I'll
make it public.
</li>
<li>String values are silently trimmed to 256 characters.</li>
</ul>

$if admin_email is not None:
    <p>To request some keys for your game, contact
    <a href="mailto:$admin_email">$admin_email</a>.</p>

<h2>Read operations</h2>

<h3 class="op-title"><a id="list">GET /$$APPID/list</a></h3>
<div class="op-content">
<h4>List scores</h4>
<p>Requests a list of scores.</p>
<table class="param-table">
<tr><th width="20%">Parameter</th><th width="10%">Type</th><th>Description</th></tr>

<tr><td><div class="param-name">filter</div><div class="param-class">multiple</div></td>
<td>str</td><td>fieldName,value</td></tr>

<tr><td><div class="param-name">order</div></td>
<td>str</td><td>Either 'asc' or 'desc'</td></tr>

<tr><td><div class="param-name">sort</div></td>
<td>str</td><td>fieldName</td></tr>

<tr><td><div class="param-name">count</div></td>
<td>int</td><td>How many results to return. Defaults to 20</td></tr>

</table>

<p>The response is a JSON array of objects for each score matching the filter:</p>
<pre>
[
    {
        'id': 57, <span class="code-hint">&lt;-- id of the score record (used in admin ops)</span>
        'submission': ['2014-05-04 16:45:26.072', 1399218326072], <span class="code-hint">&lt;-- the date this score was submitted</span>
        'win': true,
        'board': 'justthedungeons',
        'mods': '',

        <span class="code-hint">The following fields were defined via admin operations in this example:</span>
        'completion': ['2014-05-04 16:45:26.072', 1399218326072],
        'duration': ['01:32:53.123', 5573123],
        'seed': '-9253512911549523',
        'coins': 576,
        'artifacts': 8,
        'playerName': 'Tom',
        'playerId': '2345678923282359',
        'image': 'http://i.imgur.com/doesntexist'
    }
]
</pre>

<p>Live example: <a href="http://lead.bytten.net/v1/lenna-dev1/list?filter=board,justthedungeons&filter=win,true&sort=duration&order=desc&count=10&filter=mods,">http://lead.bytten.net/v1/lenna-dev1/list?filter=board,justthedungeons&filter=win,true&sort=duration&order=desc&count=10&filter=mods,</a></p>
</div>

<h2>Write operations</h2>

<h3 class="op-title">POST /$$APPID/add</h3>
<div class="op-content">
<h4>Submit score</h4>
<p>Submits/adds a score to a leaderboard.</p>
<table class="param-table">
<tr><th width="20%">Parameter</th><th width="10%">Type</th><th>Description</th></tr>

<tr><td><div class="param-name">writeKey</div><div class="param-class">mandatory</div></td>
<td>str</td><td>Your private write key</td></tr>

<tr><td><div class="param-name">win</div><div class="param-class">mandatory</div></td>
<td>bool</td><td>Whether the player won or not</td></tr>

<tr><td><div class="param-name">board</div><div class="param-class">mandatory</div></td>
<td>str</td><td>The ID of the board to add to</td></tr>

<tr><td><div class="param-name">mods</div></td>
<td>str</td><td>What mods are installed on the game. (This scheme allows scores
from modded games to be filtered out, but relies on mod writers obeying the
rules.)
</td></tr>

<tr><td><div class="param-name"><em>(fieldName)</em></div>
<div class="param-class">multiple</div></td>
<td><em>(fieldType)</em></td><td>Submit values for your custom fields</td></tr>

</table>
</div>

<h2>Admin operations</h2>

<h3 class="op-title"><a id="add-field">POST /$$APPID/add-field</a></h3>
<div class="op-content">
<h4>Create a new field</h4>
<p>Creates a new field that can store information in score records and
be used to filter and sort results.</p>
<table class="param-table">
<tr><th width="20%">Parameter</th><th width="10%">Type</th><th>Description</th></tr>

<tr><td><div class="param-name">adminKey</div><div class="param-class">mandatory</div></td>
<td>str</td><td>Your super-secret admin key</td></tr>

<tr><td><div class="param-name">name</div><div class="param-class">mandatory</div></td>
<td>str</td><td>The name of your new field</td></tr>

<tr><td><div class="param-name">type</div><div class="param-class">mandatory</div></td>
<td>str</td><td>The type of your field. See below for supported types</td></tr>

</table>

<p>Supported types:</p>
<ul>
<li><span class="typename">bool</span></li>
<li><span class="typename">int</span></li>
<li><span class="typename">long</span> - If you plan to use Javascript, be wary of using the <span class="typename">long</span> type - Javascript treats all numbers as <span class="typename">double</span>s, and the precision is not great enough to represent all <span class="typename">long</span> values.</li>
<li><span class="typename">double</span></li>
<li><span class="typename">str</span></li>
<li><span class="typename">Time</span> - values are submit via POST as a <span class="typename">long</span> value representing the number of milliseconds since the unix epoch, and returned in JSON responses as a pair containing a formatted text representation of the time and the <span class="typename">long</span> value: <code>['01:32:53.123', 5573123]</code></li>
<li><span class="typename">Date</span> - values are submit via POST as a <span class="typename">long</span> value representing the number of milliseconds since the unix epoch, and returned in JSON responses as a pair containing a formatted text representation of the date and the <span class="typename">long</span> value: <code>['2014-05-04 16:45:26.072783', 1399218326072]</code></li>
</ul>
</div>

<h3 class="op-title">POST /$$APPID/del-field</h3>
<div class="op-content">
<h4>Delete a field</h4>
<p>Hides a field and its values from <a href="#list" class="query-ref">list</a> results.
The field and all the values originally present before deletion can be restored
by using <a href="#add-field" class="query-ref">add-field</a> with the same name and type.</p>
<table class="param-table">
<tr><th width="20%">Parameter</th><th width="10%">Type</th><th>Description</th></tr>

<tr><td><div class="param-name">adminKey</div><div class="param-class">mandatory</div></td>
<td>str</td><td>Your super-secret admin key</td></tr>

<tr><td><div class="param-name">name</div><div class="param-class">mandatory</div></td>
<td>str</td><td>The name of the field to delete</td></tr>

</table>
</div>

<h3 class="op-title"><a id="del-score">POST /$$APPID/del-score</a></h3>
<div class="op-content">
<h4>Delete a score</h4>
<p>Hides a score from <a href="#list" class="query-ref">list</a> results.
The score and all its values can be restored by using
<a href="#restore-score" class="query-ref">restore-score</a> <strong>if you still
have the score id</strong>.</p>
<table class="param-table">
<tr><th width="20%">Parameter</th><th width="10%">Type</th><th>Description</th></tr>

<tr><td><div class="param-name">adminKey</div><div class="param-class">mandatory</div></td>
<td>str</td><td>Your super-secret admin key</td></tr>

<tr><td><div class="param-name">id</div><div class="param-class">mandatory</div></td>
<td>str</td><td>The id of the score to delete</td></tr>

</table>
</div>

<h3 class="op-title"><a id="restore-score">POST /$$APPID/restore-score</a></h3>
<div class="op-content">
<h4>Restore a deleted a score</h4>
<p>Brings back a score that was deleted with <a href="#del-score" class="query-ref">del-score</a>.</p>
<table class="param-table">
<tr><th width="20%">Parameter</th><th width="10%">Type</th><th>Description</th></tr>

<tr><td><div class="param-name">adminKey</div><div class="param-class">mandatory</div></td>
<td>str</td><td>Your super-secret admin key</td></tr>

<tr><td><div class="param-name">id</div><div class="param-class">mandatory</div></td>
<td>str</td><td>The id of the deleted score to restore</td></tr>

</table>
</div>

<h3 class="op-title"><a id="dump">GET /$$APPID/dump</a></h3>
<div class="op-content">
<h4>Dump all scores</h4>
<p>Dumps all deleted and undeleted scores in the database for your app in JSON
format, along
with all deleted and undeleted fields. You can use this to perform a backup.
The load on the server is higher than for other queries, so please use it
sparingly.</p>
<table class="param-table">
<tr><th width="20%">Parameter</th><th width="10%">Type</th><th>Description</th></tr>

<tr><td><div class="param-name">adminKey</div><div class="param-class">mandatory</div></td>
<td>str</td><td>Your super-secret admin key</td></tr>

</table>
</div>


<div class="footer">
&copy; 2014 <a href="http://twitter.com/tccoxon">Tom Coxon</a> -
<a href="http://bytten.net/">bytten.net</a>.
</div>
</body>
</html>
